body
{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/676/104/930/windows-7-skirts-windowstan-microsoft-windows-ostan-anime-girls-mascot-1920x1200-technology-windows-hd-art-wallpaper-preview.jpg);
    background-repeat:none;
    background-size:cover;
}
p
{
    font-size:30px;
}